/* 导航栏 */
nav {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 0.1rem solid #E5E5E5;
}
.hotInfo li {
  line-height: 2rem;
}
.hotInfo li div .hotCol {
  color: #000000;
}
.hotInfo li div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9rem;
}
.hotInfo li div p span:first-child {
  color: #6da719;
  padding: 0 0.6rem;
  border: 0.1rem solid #6da719;
  border-radius: 0.2rem;
}
